@model Employee.Management.MVC.Models.Auth.AuthRequest

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<hr />

@if (ViewBag.ErrorMessage is not null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

@using (Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    <div class="col-md-10 col-md-offset-1">
        <div class="well">
            <table class="table table-bordered">
                <tbody>
                    <tr>

                        <td>@Html.LabelFor(m => m.Email)</td>
                        <td>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Enter your username" })
                            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                        </td>
                    </tr>

                    <tr>
                        <td>@Html.LabelFor(m => m.Password)</td>
                        <td>
                            <div class="input-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id = "passwordInput", @placeholder = "Enter your password" })
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-secondary" id="togglePassword" onclick="togglePasswordVisibility()">
                                        <i class="bi bi-eye" id="eyeIcon"></i>
                                    </button>
                                </div>
                                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                            </div>
                        </td>
                    </tr>

                    <tr class="success">
                        <td colspan="2">
                            <button type="submit" class="btn btn-success">Login</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("passwordInput");
            var eyeIcon = document.getElementById("eyeIcon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";  // Show password
                eyeIcon.classList.remove("bi-eye"); // Remove the 'eye' icon
                eyeIcon.classList.add("bi-eye-slash"); // Add 'eye-slash' icon (closed eye)
            } else {
                passwordInput.type = "password"; // Hide password
                eyeIcon.classList.remove("bi-eye-slash"); // Remove the 'eye-slash' icon
                eyeIcon.classList.add("bi-eye"); // Add 'eye' icon (open eye)
            }
        }
    </script>
}


